.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-royalblue-100);
  box-shadow: 0 10px 30px rgba(41, 44, 124, 0.1);
  width: 100px;
  height: 102px;
}
.svgrepo-iconcarrier {
  position: absolute;
  height: 25.39%;
  width: 32%;
  top: 37.25%;
  right: 34%;
  bottom: 37.35%;
  left: 34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradasi-oren1);
  width: 100px;
  position: relative;
  height: 102px;
}
.english3 {
  width: 343px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.group-parent2,
.home-kelas-inner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-parent2 {
  width: 311px;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.home-kelas-inner2 {
  width: 251px;
  border-radius: var(--br-44xl);
  background-color: var(--color-white);
  box-shadow: 0 10px 60px rgba(38, 45, 118, 0.08);
  height: 235px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-29xl) 0;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--biru-tua);
  font-family: var(--font-poppins);
}
