.k {
  position: relative;
  font-weight: 600;
}
.assisted-student {
  position: relative;
  font-size: var(--font-size-xl);
}
.frame-wrapper47,
.k-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-wrapper47 {
  position: absolute;
  top: 380px;
  left: 948px;
  border-radius: var(--br-9xl);
  background-color: var(--abu-putih);
  box-shadow: 3px 4px 6.8px rgba(67, 67, 67, 0.25);
  width: 280px;
  height: 99px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-20xl);
  box-sizing: border-box;
  opacity: 0.95;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--abu-abu);
  font-family: var(--font-poppins);
}
