.ok1 {
  position: absolute;
  top: 13px;
  left: 78px;
  font-size: var(--font-size-11xl);
  line-height: 180%;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
}
.pembayaran-oke-inner,
.vector-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 220.1px;
  height: 80px;
}
.pembayaran-oke-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradasi-oren1);
  top: 684px;
  left: 851px;
}
