.mask-group-icon15,
.mask-group-icon16 {
  position: absolute;
  top: 42.4px;
  left: 14.8px;
  width: 340.2px;
  height: 364.6px;
  object-fit: cover;
}
.mask-group-icon16 {
  top: 0;
  left: 0;
  width: 355px;
  height: 407px;
}
.frame-child120 {
  position: absolute;
  top: 3px;
  left: 19px;
  border-radius: 5.55px;
  background-color: var(--color-dodgerblue);
  width: 58px;
  height: 16px;
}
.eveny-howard3,
.instructor {
  position: absolute;
  top: 3.3px;
  left: 86px;
  font-weight: 600;
}
.instructor {
  top: 4px;
  left: 26px;
  font-size: var(--font-size-3xs);
}
.frame-child121,
.frame-child122 {
  position: absolute;
  top: 3.9px;
  left: 0;
  border-radius: 0.55px;
  background-color: var(--color-white);
  width: 1.7px;
  height: 3.9px;
}
.frame-child122 {
  top: 1.9px;
  left: 2.8px;
  height: 5.8px;
}
.frame-child123,
.rectangle-parent20 {
  position: absolute;
  left: 5.5px;
  height: 7.8px;
}
.frame-child123 {
  top: 0;
  border-radius: 0.55px;
  background-color: var(--color-white);
  width: 1.7px;
}
.rectangle-parent20 {
  top: 7.2px;
  width: 7.2px;
}
.rectangle-parent19 {
  position: absolute;
  top: 216.2px;
  left: 8.1px;
  border-radius: 5.55px;
  background-color: var(--color-lightsteelblue);
  backdrop-filter: blur(11.09px);
  width: 170px;
  height: 22px;
}
.mask-group-parent7 {
  position: absolute;
  top: 189px;
  left: 1023px;
  width: 355px;
  height: 407px;
}
.mask-group-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 342px;
  height: 396px;
  object-fit: cover;
}
.tamara-clarke {
  position: absolute;
  top: 5.3px;
  left: 26.4px;
  font-weight: 600;
  display: inline-block;
  width: 105.6px;
  height: 24px;
}
.frame-child124,
.frame-child125 {
  position: absolute;
  top: 6.2px;
  left: 0;
  border-radius: 0.55px;
  background-color: var(--color-white);
  width: 2.4px;
  height: 6.2px;
}
.frame-child125 {
  top: 3.1px;
  left: 4px;
  height: 9.3px;
}
.frame-child126,
.rectangle-parent21 {
  position: absolute;
  left: 8px;
  height: 12.4px;
}
.frame-child126 {
  top: 0;
  border-radius: 0.55px;
  background-color: var(--color-white);
  width: 2.4px;
}
.rectangle-parent21 {
  top: 11.6px;
  width: 10.4px;
}
.tamara-clarke-parent {
  position: absolute;
  top: 341.5px;
  left: 10.1px;
  border-radius: 5.55px;
  background-color: var(--color-lightsteelblue);
  backdrop-filter: blur(11.09px);
  width: 140px;
  height: 34.7px;
}
.mask-group-parent8 {
  position: absolute;
  top: 498px;
  left: 1326px;
  width: 342px;
  height: 396px;
}
.belajar-bahasa-inggris {
  position: absolute;
  top: 229px;
  left: 163px;
  font-size: var(--font-size-35xl);
  line-height: 144.44%;
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--putih);
  white-space: pre-wrap;
  width: 681px;
}
.mask-group-icon18,
.mask-group-icon19 {
  position: absolute;
  top: 622px;
  left: 1023px;
  width: 277px;
  height: 272px;
  object-fit: cover;
}
.mask-group-icon19 {
  top: 0;
  left: 0;
  width: 249px;
  height: 300px;
}
.adam-levin3 {
  position: absolute;
  top: 4.9px;
  left: 25.1px;
  font-weight: 600;
  display: inline-block;
  width: 76.1px;
  height: 22.1px;
}
.frame-child127,
.frame-child128 {
  position: absolute;
  top: 5.7px;
  left: 0;
  border-radius: 0.67px;
  background-color: var(--color-white);
  width: 2.1px;
  height: 5.7px;
}
.frame-child128 {
  top: 2.9px;
  left: 3.5px;
  height: 8.6px;
}
.frame-child129,
.rectangle-parent22 {
  position: absolute;
  left: 7px;
  height: 11.4px;
}
.frame-child129 {
  top: 0;
  border-radius: 0.67px;
  background-color: var(--color-white);
  width: 2.1px;
}
.rectangle-parent22 {
  top: 10.6px;
  width: 9.1px;
}
.adam-levin-group {
  position: absolute;
  top: 249px;
  left: 18.7px;
  border-radius: 6.73px;
  background-color: var(--color-lightsteelblue);
  backdrop-filter: blur(13.47px);
  width: 106.2px;
  height: 31.9px;
}
.mask-group-parent9 {
  position: absolute;
  top: 189px;
  left: 1406px;
  filter: drop-shadow(17px 17px 40px rgba(13, 15, 28, 0.1));
  width: 249px;
  height: 300px;
  font-size: var(--font-size-sm-5);
}
.frame-child130,
.frame-child131,
.frame-child132 {
  position: absolute;
  top: 193px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gray-200);
  box-shadow: 0 15px 44px rgba(13, 15, 28, 0.12);
  width: 60px;
  height: 60px;
}
.frame-child131,
.frame-child132 {
  top: 0;
}
.frame-child132 {
  top: 96px;
  left: 2px;
}
.diajar-oleh-guru-guru,
.pembayaran-aman-di,
.ribu-guru-yang {
  position: absolute;
  top: 2px;
  left: 97px;
  line-height: 180%;
  font-weight: 500;
}
.pembayaran-aman-di,
.ribu-guru-yang {
  top: 102px;
}
.pembayaran-aman-di {
  top: 201px;
}
.frame-child133,
.frame-child134,
.frame-child135,
.frame-child136 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--biru-tua);
  width: 11.8px;
  height: 11.8px;
}
.frame-child134,
.frame-child135,
.frame-child136 {
  top: 14.2px;
}
.frame-child135,
.frame-child136 {
  top: 0;
  left: 14.8px;
}
.frame-child136 {
  top: 14.2px;
  background-color: var(--color-darkorange-100);
}
.rectangle-parent23 {
  position: absolute;
  top: 209px;
  left: 16px;
  width: 26.6px;
  height: 26px;
}
.frame-child137,
.frame-child138 {
  position: absolute;
  top: 6px;
  left: 8px;
  border-radius: var(--br-11xs);
  background-color: var(--biru-tua);
  width: 20px;
  height: 20px;
}
.frame-child138 {
  top: 0;
  left: 0;
  background-color: var(--color-darkorange-100);
  width: 21.2px;
  height: 21.2px;
}
.rectangle-parent24,
.users-2-icon {
  position: absolute;
  top: 113px;
  left: 16px;
  width: 28px;
  height: 26px;
}
.users-2-icon {
  top: 16px;
  width: 30px;
  overflow: hidden;
}
.ellipse-parent15 {
  position: absolute;
  top: 518px;
  left: 163px;
  width: 472px;
  height: 253px;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.logo-eduyou-07-12 {
  position: absolute;
  top: 48px;
  left: 96px;
  width: 104px;
  height: 94px;
  object-fit: cover;
}
.sub-kategori {
  position: absolute;
  top: calc(50% - 2818.5px);
  left: calc(50% - 960px);
  background: linear-gradient(175.87deg, #2d2aab, #bc78ec 67.5%, #dfb3fe), #fff;
  width: 1919px;
  height: 1023px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs-1);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}
