.temukan-mentormu2 {
  position: absolute;
  top: 0;
  left: 143px;
  line-height: 180%;
}
.frame-child164 {
  position: absolute;
  top: 0;
  left: 1351px;
  width: 93px;
  height: 87.4px;
}
.write-your-keywoard3 {
  position: absolute;
  top: 19px;
  left: 87px;
  letter-spacing: 0.02em;
  line-height: 160%;
  display: inline-block;
  width: 655px;
  height: 29px;
}
.group-parent11 {
  position: absolute;
  top: 107px;
  left: 75px;
  border-radius: var(--br-61xl);
  border: 1px solid var(--color-darkorange-100);
  box-sizing: border-box;
  width: 1444px;
  height: 92px;
  font-size: var(--font-size-11xl);
  color: var(--color-darkorange-100);
  font-family: var(--font-poppins);
}
.vector-icon9 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 68px;
  height: 60px;
}
.temukan-mentormu-parent {
  position: absolute;
  top: 80px;
  left: 142px;
  width: 1519px;
  height: 199px;
}
.temukan-tutor-child {
  position: absolute;
  top: 1374px;
  left: 1607px;
  width: 93px;
  height: 87.4px;
}
.users-13,
.users-21 {
  position: absolute;
  top: 656px;
  left: 1139px;
  width: 55px;
  height: 44px;
  overflow: hidden;
}
.users-21 {
  left: 1527px;
}
.group-child20,
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  backdrop-filter: blur(80px);
  width: 446px;
  height: 544px;
}
.group-child21 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-whitesmoke-300);
  height: 38.3px;
}
.group-child22,
.group-child23,
.group-child24 {
  position: absolute;
  top: 10.7px;
  left: 15.4px;
  border-radius: 50%;
  background-color: var(--color-salmon-200);
  width: 8px;
  height: 15.8px;
}
.group-child23,
.group-child24 {
  left: 29.1px;
  background-color: var(--color-sandybrown-100);
}
.group-child24 {
  left: 42.7px;
  background-color: var(--color-mediumspringgreen-100);
}
.rectangle-parent31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gradasi-oren1);
  position: absolute;
  top: 0;
  left: 0;
  width: 446px;
  height: 544px;
}
.mask-group-icon24,
.mask-group-icon25 {
  position: absolute;
  top: 26px;
  left: 11.2px;
  width: 256.8px;
  height: 223.5px;
  object-fit: cover;
}
.mask-group-icon25 {
  top: 0;
  left: 0;
  width: 255.3px;
  height: 246.8px;
}
.frame-child165 {
  position: absolute;
  top: 3px;
  left: 19px;
  border-radius: 5.55px;
  background-color: var(--color-dodgerblue);
  width: 58px;
  height: 16px;
}
.eveny-howard6,
.instructor3 {
  position: absolute;
  top: 3.3px;
  left: 86px;
  font-weight: 600;
}
.instructor3 {
  top: 4px;
  left: 26px;
  font-size: var(--font-size-3xs);
}
.frame-child166,
.frame-child167 {
  position: absolute;
  top: 3.9px;
  left: 0;
  border-radius: 0.55px;
  background-color: var(--color-white);
  width: 1.7px;
  height: 3.9px;
}
.frame-child167 {
  top: 1.9px;
  left: 2.8px;
  height: 5.8px;
}
.frame-child168,
.rectangle-parent33 {
  position: absolute;
  left: 5.5px;
  height: 7.8px;
}
.frame-child168 {
  top: 0;
  border-radius: 0.55px;
  background-color: var(--color-white);
  width: 1.7px;
}
.rectangle-parent33 {
  top: 7.2px;
  width: 7.2px;
}
.rectangle-parent32 {
  position: absolute;
  top: 216.2px;
  left: 8.1px;
  border-radius: 5.55px;
  background-color: var(--color-lightsteelblue);
  backdrop-filter: blur(11.09px);
  width: 170px;
  height: 22px;
}
.mask-group-parent12 {
  position: absolute;
  top: 61px;
  left: 98px;
  width: 267.9px;
  height: 249.5px;
  font-size: var(--font-size-xs-1);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}
.english-learn-english-container2,
.kursus-pertama-gratis8,
.rp-120000002 {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 180%;
  display: inline-block;
}
.english-learn-english-container2 {
  top: 368px;
  left: 37px;
  color: var(--color-slategray-200);
  width: 386px;
}
.kursus-pertama-gratis8,
.rp-120000002 {
  top: 484px;
}
.rp-120000002 {
  left: 37px;
  font-size: var(--font-size-3xl);
  width: 174px;
  height: 39px;
}
.kursus-pertama-gratis8 {
  left: 202px;
  color: var(--color-tomato-100);
  width: 244px;
  height: 36px;
}
.frame-child169,
.ulasan11 {
  position: absolute;
  top: 317px;
  left: 39px;
  width: 46px;
  height: 38px;
}
.ulasan11 {
  top: 318px;
  left: 96px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  display: inline-block;
  width: 191px;
  height: 22px;
}
.group-parent12 {
  position: absolute;
  top: 926px;
  left: 217px;
  width: 446px;
  height: 544px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.frame-child170 {
  cursor: pointer;
  border: 1px solid var(--color-darkorange-100);
  padding: 0;
  background-color: var(--gradasi-oren1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-61xl);
  box-sizing: border-box;
  width: 421px;
  height: 79.7px;
}
.lihat-lebih-banyak8 {
  position: absolute;
  top: 18.9px;
  left: 57.1px;
  letter-spacing: 0.02em;
  line-height: 180%;
  display: inline-block;
  width: 306.7px;
  height: 42.9px;
}
.rectangle-parent34,
.temukan-tutor {
  position: absolute;
  top: 2135px;
  left: 756px;
  width: 421px;
  height: 79.7px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkorange-100);
}
.temukan-tutor {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 2343px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--biru-tua);
  font-family: var(--font-nunito-sans);
}
