.mask-group-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 151.9px;
  height: 140.3px;
  object-fit: cover;
}
.adam-levin2 {
  position: absolute;
  top: 2.9px;
  left: 16.7px;
  font-weight: 600;
  display: inline-block;
  width: 55.2px;
  height: 13.1px;
}
.frame-child85,
.frame-child86 {
  position: absolute;
  top: 3.4px;
  left: 0;
  border-radius: 0.42px;
  background-color: var(--color-white);
  width: 1.5px;
  height: 3.4px;
}
.frame-child86 {
  top: 1.7px;
  left: 2.5px;
  height: 5.1px;
}
.frame-child87,
.rectangle-parent10 {
  position: absolute;
  left: 5.1px;
  height: 6.8px;
}
.frame-child87 {
  top: 0;
  border-radius: 0.42px;
  background-color: var(--color-white);
  width: 1.5px;
}
.rectangle-parent10 {
  top: 6.3px;
  width: 6.6px;
}
.adam-levin-parent {
  position: absolute;
  top: 113.7px;
  left: 8.1px;
  border-radius: var(--br-8xs-2);
  background-color: var(--color-lightsteelblue);
  backdrop-filter: blur(8.4px);
  width: 76.9px;
  height: 18.9px;
}
.mask-group-parent5 {
  position: absolute;
  top: 81px;
  left: 602.5px;
  width: 151.9px;
  height: 140.3px;
  text-align: left;
  font-size: var(--font-size-4xs-4);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}
